<h1 class="mb-5 text-xl font-bold">
Site Data
</h1>

<h2 class="mb-3 text-lg font-bold">Program Types</h2>

<ul>
<%= for pt <- @program_types do %>
    <li><%= pt.name %></li>
<% end %>
</ul>

<h2 class="mb-3 text-lg font-bold">Programs</h2>

<ul>
<%= for p <- @programs do %>
    <li><%= p.name %></li>
<% end %>
</ul>

<h2 class="mb-3 text-lg font-bold">Courses</h2>

<ul>
<%= for c <- @courses do %>
    <li><%= c.name %></li>
<% end %>
</ul>
